resources:
- name: {{ env["name"] }}
  type: compute.v1.instance
  properties:
    zone: {{ properties["zone"] }}
    machineType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/machineTypes/{{ properties["machineType"] }}
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        sourceImage: https://www.googleapis.com/compute/v1/projects/gcp-test-drive-dev/global/images/pan-os
    networkInterfaces:
    - network: $(ref.{{ properties["network"] }}.selfLink)
      subnetwork: $(ref.{{ properties["subnetwork"] }}.selfLink)
      {% if properties["ip"] %}
      networkIP: {{ properties["ip"] }} 
      {% endif %}
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
